.python-version
cmapss_dash_lab/__pycache__/services.cpython-310.pyc
raw_data/RUL_FD001.txt
raw_data/RUL_FD002.txt
raw_data/RUL_FD003.txt
raw_data/RUL_FD004.txt
raw_data/test_FD001.txt
raw_data/test_FD002.txt
.gitignore
raw_data/train_FD001.txt
raw_data/test_FD003.txt
raw_data/test_FD004.txt
.gitignore
raw_data/train_FD003.txt
.gitignore
models/__pycache__/timeseries_model.cpython-310.pyc
models/__pycache__/base_model.cpython-310.pyc
.gitignore
raw_data/train_FD002.txt
raw_data/train_FD004.txt
cmapss_dash_lab/__pycache__/services.cpython-310.pyc
models/__pycache__/base_model.cpython-310.pyc
models/__pycache__/timeseries_model.cpython-310.pyc
models/__pycache__/base_model.cpython-310.pyc
models/__pycache__/base_model.cpython-310.pyc
predictive_maintenance_dds04/raw_data/
predictive_maintenance_dds04/utils/__pyscahe__/
models/__pyscahe__/
 Exploration_Data.ipynb
Exploration_Data.ipynb
.gitignore
model_training.ipynb
cmapss_dash_lab/__pycache__/services.cpython-310.pyc
experiments/
cmapss_dash_lab/__pycache__/
models/__pycache__/
